<style>
    .subscribe-news__input .transp-input {
        color: black;
    }

    .input {
        border-bottom: 2px solid #0e3de8;
    }

    .img-artist {
        float: left;
        height: 39vh;
        margin-top: 5%;
    }

    .media_form {
        padding-left: 35%;
    }
    .media_close{
        background-color:red;cursor:pointer; border: none;max-width: 7.5rem;height: 41px;padding-left: 7px;

    }

     .media_cancel{
            max-width: 7.5rem;cursor:pointer;height: 41px;padding-left: 7px;
        }

   @media only screen and (min-width: 320px) and (max-width:790px) {
        .media_form {
            padding-left: 0%;
        }

        .media_close{
        background-color:red;
        cursor:pointer;
         border: none;
         max-width: 7.5rem;
         height: 41px;
         padding-left: 0px;
         width:87%;
    }
        .media_cancel{
            max-width: 7.5rem;cursor:pointer;height: 41px;padding-left: 7px;
             width:60%;
        }
    }
</style>


<!--<div class="container-fluid pl-0 pr-0 body-header" style="margin-top: -60px;">
    <p class="text-center font-weight-bold mb-0 pt-3 text-light">
        {{ !isEdit? 'Add Admin' : 'Edit Admin' }}
    </p>
</div>-->

<p class="h1 text-center font-weight-bold color-ceek get-your-vr__header">
    {{ !isEdit? 'Add Admin' : 'Edit Admin' }}
</p>
<hr style="border-bottom: 1px solid;width:17%;" />


<div class="container" style="">
    <form class="subscribe-news__form media_form" id="form1" name="form" novalidate style="">
        <div class="row">
            <div class="subscribe-news__input col-lg-6 col-md-6 col-sm-12" style="max-width: 25.75rem;">
                <input type="text" class="transp-input input" placeholder="Email" id="Email" name="Email" ng-model="model.emailid" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required />
                <span style="color:red;display:block;" ng-show="form.Email.$touched && form.Email.$invalid || submitted&&form.Email.$error.required"><b>Email required</b></span>
                <span style="color:red;display:block;" ng-show="form.Email.$error.pattern">Please enter valid email address.</span>

            </div>

        </div>

        <div class="row">
            <div class="subscribe-news__input col-lg-6 col-md-6 col-sm-12" style="max-width: 25.75rem;">
                <input type="text" class="transp-input input" placeholder="Ceeker Name" id="text" name="text" ng-model="model.firstname" ng-pattern="/^[a-zA-Z0-9\_]*$/" required />
                <span style="color:red;display:block;" ng-show="form.text.$touched && form.text.$invalid || submitted&&form.text.$error.required"><b>Name required</b></span>
                <span style="color:red;display:block;" ng-show="form.text.$error.pattern"><b>Invalid format</b></span>

            </div>
        </div>
        <div class="row" ng-if="show1">
            <div class="subscribe-news__input col-lg-6 col-md-6 col-sm-12" style="max-width: 25.75rem;">
                <input type="text" class="transp-input input" placeholder="Password" id="pwd" name="pwd" ng-model="model.password" ng-init="password_error= 0" ng-change="password_error= password_error= 0 + 1;" required />
                <span style="color:red;display:block;" ng-show="form.pwd.$touched && form.pwd.$invalid || submitted&&form.pwd.$error.required"><b>Password required</b></span>

            </div>
        </div>

        <div style="background:none;color:red;margin-left:4%;font-size:3.25vh;">
            <b>{{message}}</b>
        </div>
        <div class="row">
            <div class="subscribe-news__input col-lg-6 col-md-6 col-sm-12 btn-group" style="max-width:34.75rem;">
                <div class="subscribe-news__input col-lg-6 col-md-6 col-sm-12 btn-group">
                    <a value="Cancel" id="cancel" data-toggle="modal" data-target=".modal-artist" ng-show="show" class="btn-w-icon btn-w-icon_border-malibu btn-w-icon_long media_close">
                        <span class="btn-w-icon__text col-lg-3 col-md-6">Delete</span>
                    </a>
                </div>
                <div class="subscribe-news__input col-lg-6 col-md-6 col-sm-12 btn-group" style="margin-left:-14%;">
                    <a value="Cancel" id="cancel" ng-click="cancel();" class="btn-w-icon btn-w-icon_border-malibu btn-w-icon_long media_cancel">
                        <span class="btn-w-icon__text col-lg-3 col-md-6" style="color:blue">Cancel</span>
                    </a>&nbsp;
                    <a ng-click="submitted=true;save(form);" id="create" style="cursor:pointer;max-width: 6.5rem;height: 41px;" class="btn-w-icon btn-w-icon_blue-gradient btn-w-icon_border-malibu btn-w-icon_long">
                        <span class="btn-w-icon__text col-lg-3 col-md-6">Save</span>
                    </a>
                </div>
            </div>
        </div>
    </form>


</div>
<div class="modal fade modal-artist" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">

    <div class="modal-dialog modal-sm modal-dialog-centered" style="font-family: Segoe UI,sans-serif;max-width:100%;">
        <div class="modal-content artist-modal" style="max-width:100%;min-width:48%;margin-top:8%;padding-bottom:0px;">

            <div class="container" style="">

                <h2 class="get-your-vr__header color-blue" style="margin-top:5%;margin-left: 4%;font-size: 2rem;">Are Your Sure You Want to Delete Admin?</h2>
                <form class="subscribe-news__form" id="form_setting" name="form_setting" novalidate style="padding-left:35%;cursor:pointer;">



                    <div class="row" style="margin-bottom: 10%;">
                        <div class="subscribe-news__input col-lg-6 col-md-6 col-sm-12 btn-group">

                            <a value="Cancel" id="cancel" ng-click="closepopup();" data-dismiss="modal" style="cursor:pointer;height: 41px;padding-left: 0px;" class="btn-w-icon btn-w-icon_border-malibu btn-w-icon_long">
                                <span class="btn-w-icon__text col-lg-3 col-md-6" style="color:blue">Cancel</span>
                            </a>&nbsp;
                            <a ng-click="delete();" id="verify" style="cursor:pointer;height: 41px;padding-left: 0px;" class="btn-w-icon btn-w-icon_blue-gradient btn-w-icon_border-malibu btn-w-icon_long">
                                <span class="btn-w-icon__text col-lg-4 col-md-6">&nbsp;Delete</span>
                            </a>
                        </div>
                    </div>
                </form>


            </div>




        </div>
    </div>
</div>
