<style>
    .subscribe-news__input .transp-input {
        color: black;
    }

    .input {
        border-bottom: 2px solid #0e3de8;
    }
     a:hover{
        color:white;
        text-decoration:none;
    }
</style>

<div class="container logincss" style="margin-top:10%">

    <h2 class="get-your-vr__header color-blue css2" style="margin-left: 40%;">Forgot Password</h2>
    <form class="subscribe-news__form logincss1" id="form1" name="form" novalidate style="padding-left:35%">
        <div class="row">
            <div class="subscribe-news__input col-lg-6 col-md-6 col-sm-12" style="max-width: 25.75rem;">
                <input type="text" placeholder="Email" ng-click="msg();" name="Email" class="transp-input input" ng-model="model.email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required />

      </div>

        </div>
        <span style="color:red;" ng-show="form.Email.$touched && form.Email.$invalid || submitted&&form.Email.$error.required"><b>Email required</b></span>
        <span style="color:red;" ng-show="form.Email.$error.pattern">Please enter valid email address.</span>

        <b style="color:orangered;margin-left:6%;">{{message}}</b>
        <b style="color:red;margin-left:-5%;">{{message1}}</b>
        <b style="color:red;margin-left:6%;">{{message2}}</b>

        <div class="row" style="padding-left:16%;margin-top:4%;">
            <div class="input-group-append" style="margin-left:-5%;">
                <a href="" ng-click="submitted=true;save(form)" id="login" style="width: 16vw;border: 2px solid #71bdff;" class="btn btn-ceek btn-w-icon_blue-gradient logincss7"><img src="../img/icon.png" style="margin-right: 7px;" /><b>Reset My Password</b></a>
            </div>
           
        </div>
        
    </form>


</div>
