<style>
    .get-your-vr__header1 {
        margin-top: 20px;
    }
</style>

<div class="container-fluid pl-0 pr-0 body-header">
    <p class="text-center font-weight-bold mb-0 pt-3 text-light" style="font-family: Titillium Web,sans-serif;">VOTING</p>
</div>
<!--<div class="container-fluid pl-0 pr-0 body-banner aspect">
    <img src="../../img/BANNER.png" class="artist-banner aspect" alt="">

</div>-->
<div class="container-fluid pl-0 pr-0 body-banner">
    <img src="../../img/BANNER.png" class="artist-banner aspect" alt="">
</div>
<div class="container">
    <p class="h1 text-center font-weight-bold color-ceek get-your-vr__header get-your-vr__header1"><b>Vote for your favorite show</b></p>
    <p class="text-center font-weight-normal mb-4 pl-md-5 pr-md-5 txt-normal css">
        <b>
            {{field_message1 }}
            <!--Get ready to vote, check out the nominations and help your favorite artists win prizes and the people's choice award.<br /> The people have spoken!!!-->

        </b>
    </p>
    <div class="error2" style="margin-left:42%;font-size:3vh;background:none;color:red;">
        <b>{{message}}</b>
    </div>
</div>
<div class="container" ng-repeat="x in eventlist">
    <a href="" ng-click="open(x)"><img ng-src="{{x.fullimageurl}}" class="aspect rounded img-fluid p-3" alt=""></a>

</div>

